* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background: #f7f7f5;
}

.top {
    width: 100%;
    height: 44px;
    background-color: #2f2f2f;
}

.menu {
    width: 1200px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    margin: auto auto;
}

.menu-left {
    width: 80px;
    background: url("home-vivo-icon_d457fa6.png") no-repeat center left;
}

.menu-center {
    margin: auto auto;
}

.menu-center a {
    margin: 0 22px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.menu-right {
    width: 100px;
    /*background: #86d5ed;*/
}

.tip {
    width: 1200px;
    height: 133px;
    margin-top: 30px;
    background: #f7f7f5;
}

.tip-picture {
    width: 429px;
    height: 65px;
    margin: 0 auto;
    background: url("vivo-fifa_972aad2.png");
}

.tip-text {
    height: 68px;
    padding: 30px 0 17px 0;
    display: flex;
    justify-content: space-between;
}

.text-center {
    display: flex;
    font-size: 12px;
    color: #6c7880;
    margin-left: 400px;
}

.text-center h6 {
    margin: 0 21px;
}

.text-right {
    font-size: 12px;
    color: #6c7880;
    display: flex;
    margin-right: 20px;
    /*margin: 0 0 0 auto;*/
}

.text-right h6 {
    margin: 0 21px;
}

.container {
    /*background: #f7f7f5;*/
    height: 3022px;
    width: 100%;
}

.banner {
    height: 450px;
    width: 1200px;
    background: url("20180522205427219658_original.jpg") no-repeat;
    background-size: 100%;
}

.block {
    height: 150px;
    display: flex;
    width: 1200px;

}

.block-img {
    height: 140px;
    width: 293px;
    margin: auto auto;
}

.block-img:nth-child(1) {
    background: url("20180428104400164455_original.jpg") no-repeat;
    background-size: 100%;
}

.block-img:nth-child(2) {
    background: url("20180428105522994861_original.jpg") no-repeat;
    background-size: 100%;
}

.block-img:nth-child(3) {
    background: url("20180604111836883949_original.jpg") no-repeat;
    background-size: 100%;
}

.block-img:nth-child(4) {
    background: url("20180428105538500264_original.jpg") no-repeat;
    background-size: 100%;
}

.subject {
    height: 87px;
    width: 1200px;
    padding: 38px 0 25px 0;
    display: flex;
    justify-content: space-between;
}

.subject h5 {
    font-size: 20px;
    font-weight: normal;
    color: #333;
    margin-left: 550px;
}

.subject a {
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
    color: #333;
    margin: 0 5px;
}

.product-list {
    height: 511px;
    display: flex;
    width: 1200px;
}

.product {
    width: 394px;
    text-align: center;
    background: #fff;
}

.product .img {
    width: 230px;
    height: 230px;
    margin-top: 58px;
}

.product .name, .phone .name, .parts .name {
    padding-top: 28px;

}

.product .desc, .phone .desc, .parts .desc {
    font-size: 10px;
    padding: 11px 0 48px 0;
}

.product .price, .phone .price, .parts .price {
    color: #FF0000;
}

.product:nth-child(1) .img {
    background: url("4846_1521459122499hd_530x530.png") no-repeat;
    background-size: 100%;
}

.product:nth-child(2) .img {
    background: url("5019_1527499264320hd_530x530.png") no-repeat;
    background-size: 100%;
}

.product:nth-child(3) .img {
    background: url("4168_1496689529195hd_530x530.png") no-repeat;
    background-size: 100%;
}

.phone-list, .parts-list {
    height: 780px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.phone, .parts {
    width: 293px;
    height: 380px;
    text-align: center;
    background: #fff;
}

.phone .img, .parts .img {
    width: 172px;
    height: 172px;
    /*background: #6c7880;*/
    margin-top: 43px;
}

.phone:nth-child(1) {
    width: 595px;
}

.phone:nth-child(1) .img {
    background: url("20180531211148847492_original.png");
    background-size: 100%;
    width: 595px;
    height: 380px;
    margin-top: 0;
}

.phone:nth-child(2) .img {
    background: url("4867_1521528390779hd_530x530.png") no-repeat;
    background-size: 100%;
}

.phone:nth-child(3) .img {
    background: url("5004_1526974431827hd_530x530 (1).png") no-repeat;
    background-size: 100%;
}

.phone:nth-child(4) .img {
    background: url("4999_1526315012363hd_530x530.png") no-repeat;
    background-size: 100%;
}

.phone:nth-child(5) .img {
    background: url("4657_1514129544527hd_530x530.png") no-repeat;
    background-size: 100%;
}

.phone:nth-child(6) .img {
    background: url("5070_1528250735123hd_530x530.png") no-repeat;
    background-size: 100%;
}

.phone:nth-child(7) .img {
    background: url("5003_1526292817730hd_530x530.png") no-repeat;
    background-size: 100%;
}

.parts:nth-child(1) .img {
    background: url("4020_1481558694236_530x530.png");
    background-size: 100%;
}

.parts:nth-child(2) .img {
    background: url("4459_1506593158905hd_530x530.png") no-repeat;
    background-size: 100%;
}

.parts:nth-child(3) .img {
    background: url("1929_1449976489295_530x530.png") no-repeat;
    background-size: 100%;
}

.parts:nth-child(4) .img {
    background: url("4645_1513666624166hd_530x530.png") no-repeat;
    background-size: 100%;
}

.parts:nth-child(5) .img {
    background: url("4977_1525673338444hd_530x530.png") no-repeat;
    background-size: 100%;
}

.parts:nth-child(6) .img {
    background: url("4456_1506583112946hd_530x530.png") no-repeat;
    background-size: 100%;
}

.parts:nth-child(7) .img {
    background: url("4508_1516247516763hd_530x530.png") no-repeat;
    background-size: 100%;
}

.parts:nth-child(8) .img {
    background: url("4991_1525790017475hd_530x530.png") no-repeat;
    background-size: 100%;
}

.foot-area {
    height: auto;
    width: 100%;
    margin-top: 80px;
    background: #ffffff;
}

.foot-agree {
    height: 119px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px #dedede solid;
    padding-top: 50px;
}

.foot-area a {
    text-decoration: none;
    width: 300px;
    /*height: 28px;*/
    text-align: center;
    font-size: 18px;
    color: rgb(51, 51, 51);
}

.foot-directory {
    width: 1200px;
    height: 330px;
    padding-top: 70px;
    border-bottom: 1px #f2f2f2 solid;
}

.foot-copyright {
    width: 1200px;
    height: 80px;
    padding-top: 35px;
}

.copyright-left {

}

.copyright-right {

}